@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1 {
    font-size: 40px;
}

.logo {
    width: 300px;
}

.button {
    background-color: rgb(36, 128, 221);
    color: white;
    border-radius: 15px;
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 2px 3px 5px lightgray;
}

.button:hover {
    background-color: dodgerblue;
    color: white;
}

.bi-film {
    font-size: 30px;
    margin-right: 10px;
}